body{
    padding: 0px;
    margin: 0px;
    background: url(../images/backgrounds/background.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    border: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.landing-heading{
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px rgba(22, 22, 22, 0.46);
    font-size: 300%;
    text-align: center;
}
.landing-sub-heading{
    color: white;
    text-align: center;
}
.landing-main-body{
    width: 100%;
    padding-left: 5%;
}
.landing-quiz-options{
    width: 67%;
    float: left;
    text-align: center;
}
.landing-quiz{
    border-radius: 30px;
    height: 80px;
    float: right;
    width: 70%;
    margin: 5px;
    box-shadow: 0 40px 50px 0 rgba(24, 24, 24, 0.747), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.landing-quiz:hover{
    background-color: rgba(153, 153, 153, 0.568);
}
.book-1{
    background-color: rgb(160, 20, 20);
    color: rgb(235, 193, 54);
    border: 2px solid rgb(14, 122, 14);
}
.book-2{
    background-color: rgb(39, 39, 110);
    color: rgb(34, 133, 34);
    border: 2px solid rgb(146, 26, 26);
}
.book-3{
    background-color: rgb(85, 38, 85);
    color: rgb(248, 206, 116);
    border: 2px solid lightblue;
}
.book-4{
    background-color: rgb(206, 40, 40);
    color: rgb(44, 44, 194);
    border: 2px solid rgb(84, 133, 150);
}
.book-5{
    background-color: rgb(231, 184, 31);
    color: rgb(148, 28, 28);
    border: 2px solid rgb(28, 29, 94);
}
.book-6{
    background-color: rgb(53, 53, 145);
    color: rgb(46, 146, 46);
    border: 2px solid rgb(30, 82, 30);
}
.book-7{
    background-color: black;
    color: white;
    border: 2px solid rgb(160, 47, 6);
}
.select-quiz-heading{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
}
.title{
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}
.book-1-title{
    color: white;
}
.book-2-title{
    color: rgb(161, 30, 30);
}
.book-3-title{
    color: lightblue;
}
.book-4-title{
    color: black;
}
.book-5-title{
    color: rgb(14, 14, 75);
}
.book-6-title{
    color: white;
}
.book-7-title{
    color: white;
}

.landing-quiz-scores{
    width: 30%;
    float: right;
}
.landing-score{
    border-radius: 30px;
    width: 100px;
    height: 80px;
    line-height: 85px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 900;
    box-shadow: 0 40px 50px 0 rgba(24, 24, 24, 0.747), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.quiz-main-body{
    background-color: rgba(255, 255, 255, 0.623);
    height: 100%;
    padding-top: 50px;
    width: 65%;
    margin: auto;
    text-align: center;
    box-shadow: 0 40px 50px 0 rgba(24, 24, 24, 0.747), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.quiz-page-heading{
    width: 60%;
    margin: auto;
    border-radius: 30px;
    height: 80px;
    box-shadow: 0 40px 50px 0 rgba(24, 24, 24, 0.747), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.quiz-tally{
    list-style: none;
    text-align: left;
    width: 20px;
    position: fixed;
    top: 70px;
    padding: 0px;
    margin-left: 70px;
}
.answer-tally{
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
}
.quiz-question{
    width: 70%;
    height: 80px;
    margin: 20px auto;
    line-height: 80px;
    font-size: x-large; 
}
.answer-box{
    width: 60%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 30px;
    border: 2px solid white;
    margin: 20px auto;
    line-height: 120px;
    box-shadow: 0 40px 50px 0 rgba(24, 24, 24, 0.747), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.answer-1:hover{
    background-color: rgba(248, 120, 120, 0.815);
}
.answer-2:hover{
    background-color: rgba(120, 154, 248, 0.815);
}
.answer-3:hover{
    background-color: rgba(169, 120, 248, 0.815);
}
.answer-4:hover{
    background-color: rgba(253, 96, 56, 0.829);
}
.answer-5:hover{
    background-color: rgba(255, 223, 116, 0.829);
}
.answer-6:hover{
    background-color: rgba(108, 109, 201, 0.829);
}
.answer-7:hover{
    background-color: rgba(46, 46, 46, 0.829);
    color: white;
}
.quiz-score{
    margin: auto;
}
.next-question{
    float: right;
    position: relative;
    bottom: 410px;
    right: 80px;
}
.next-question:hover{
    border-color: white;
    color: white;
}
@media screen and (max-width: 1550px){
    .next-question{
        right: 10px;
        width: 50px;
    }
}
@media screen and (max-width: 850px){
    .answer-box{
        height: 80px;
        line-height: 80px;
    }
    .quiz-question{
        width: 70%;
        height: 50px;
        margin: 10px auto;
        line-height: 50px;
        font-size: large;
    }
    .next-question{
        bottom: 330px;
    }
    .landing-main-body{
        padding-left: 0%;
    }
}
@media screen and (max-width: 720px){
    .landing-quiz, .quiz-page-heading{
        width: 80%;
        height: 55px;
    }
    .select-quiz-heading{
        font-size: medium;
        margin-top: 10px;
    }
    .landing-score{
        height: 55px;
        line-height: 55px;;
    }
    .next-question{
        bottom: 290px;
    }
}
@media screen and (max-width: 600px){
    .quiz-main-body{
        width: 80%;
    }
    .answer-box{
        margin-left: 20px;
        width: 300px;
    }
}
@media screen and (max-width: 520px){
    .landing-quiz{
        width: 85%;
    }
    .quiz-page-heading{
        width: 90%;
    }
    .landing-heading{
        font-size: x-large;
    }
    .landing-sub-heading{
        font-size: medium;
    }
}
@media screen and (max-width: 500px){
    .next-question{
        bottom: 60px;
    }
}
@media screen and (max-width: 500px){
    .answer-box{
        width: 85%;
    }
}
@media screen and (max-width: 400px){
    .landing-quiz, .quiz-page-heading{
        width: 80%;
    }
    .landing-score{
        width: 70px;
        font-size: medium;
    }
    .landing-heading{
        font-size: large;
    }
    .landing-sub-heading{
        font-size: small;
    }
    .title{
        font-size: small;
    }
    .quiz-question{
        height: 30px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 340px){
    .title{
        font-size: x-small;
    }
    .landing-quiz, .quiz-page-heading{
        height: 40px;
        width: 85%;
    }
    .select-quiz-heading{
        margin-top: 5px;
    }
    .landing-score{
        height: 40px;
        line-height: 40px;
    }
    .next-question{
        margin-left: 30px;
        bottom: 0px;
    }
    .quiz-score{
        float: left;
        position: relative;
        left: 30px;
    }
    .quiz-question{
        font-size: medium;
    }
}
